# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Database / local data
Database/Data.json

# Learning
book/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

echo "# Virtual Environment" >> .gitignore
echo "Lib/" >> .gitignore
echo "Scripts/" >> .gitignore
echo "pyvenv.cfg" >> .gitignore
echo "*.pyc" >> .gitignore
